In [4]:
import pandas as pd
import prepare_jag

In [11]:
patient_notes = pd.read_csv("patient_notes.csv")
features = pd.read_csv("features.csv")

In [13]:
d = {}
for i in features["case_num"].unique():
    d[i] = {a: features["feature_text"][features["feature_num"] == a].to_string()[5:].strip() for a in features["feature_num"][features["case_num"] == i]}

In [14]:
df = pd.DataFrame(data=[d.keys(), d.values()]).T
df.columns = ["case_num", "features"]
df

  case_num                                           features
0        0  {0: 'Family-history-of-MI-OR-Family-history-of...
1        1  {100: 'No-vaginal-discharge', 101: 'Weight-los...
2        2  {200: 'Prior-normal-periods', 201: 'Last-Pap-s...
3        3  {300: 'FHx-of-PUD-OR-Family-history-of-peptic-...
4        4  {400: 'Lack-of-other-thyroid-symptoms', 401: '...
5        5  {500: 'Onset-5-years-ago', 501: 'Female', 502:...
6        6  {600: 'Subjective-fevers', 601: 'Male', 602: '...
7        7  {700: 'Female', 701: 'Weight-Gain', 702: 'heav...
8        8  {800: 'Increased-appetite', 801: 'Son-died-3-w...
9        9  {900: 'No-relief-with-Motrin-OR-no-relief-with...

In [16]:
notes_features = patient_notes.merge(right=df, left_on="case_num", right_on="case_num")
notes_features
print(notes_features.shape)
notes_features["clean_pn_history"] = notes_features["pn_history"].apply(prepare_jag.basic_clean3).apply(prepare_jag.remove_stopwords, exclude_words=["no"])
notes_features.head()

(42146, 4)

,pn_num,case_num,pn_history,features,clean_pn_history
0,0,0,"17-year-old male, has come to the student heal...",{0: 'Family-history-of-MI-OR-Family-history-of...,17-year-old male come student health clinic co...
1,1,0,17 yo male with recurrent palpitations for the...,{0: 'Family-history-of-MI-OR-Family-history-of...,17 yo male recurrent palpitations past 3 mo la...
2,2,0,Dillon Cleveland is a 17 y.o. male patient wit...,{0: 'Family-history-of-MI-OR-Family-history-of...,dillon cleveland 17 male patient no significan...
3,3,0,a 17 yo m c/o palpitation started 3 mos ago; \...,{0: 'Family-history-of-MI-OR-Family-history-of...,17 yo c/o palpitation started 3 mos ago nothin...
4,4,0,17yo male with no pmh here for evaluation of p...,{0: 'Family-history-of-MI-OR-Family-history-of...,17yo male no pmh evaluation palpitations state...

In [17]:
def word_list(text):
    return [word for word in text.split()]

In [18]:
notes_features["word_list"] = notes_features["clean_pn_history"].apply(word_list)

In [19]:
notes_features.head()

,pn_num,case_num,pn_history,features,clean_pn_history,word_list
0,0,0,"17-year-old male, has come to the student heal...",{0: 'Family-history-of-MI-OR-Family-history-of...,17-year-old male come student health clinic co...,"[17-year-old, male, come, student, health, cli..."
1,1,0,17 yo male with recurrent palpitations for the...,{0: 'Family-history-of-MI-OR-Family-history-of...,17 yo male recurrent palpitations past 3 mo la...,"[17, yo, male, recurrent, palpitations, past, ..."
2,2,0,Dillon Cleveland is a 17 y.o. male patient wit...,{0: 'Family-history-of-MI-OR-Family-history-of...,dillon cleveland 17 male patient no significan...,"[dillon, cleveland, 17, male, patient, no, sig..."
3,3,0,a 17 yo m c/o palpitation started 3 mos ago; \...,{0: 'Family-history-of-MI-OR-Family-history-of...,17 yo c/o palpitation started 3 mos ago nothin...,"[17, yo, c/o, palpitation, started, 3, mos, ag..."
4,4,0,17yo male with no pmh here for evaluation of p...,{0: 'Family-history-of-MI-OR-Family-history-of...,17yo male no pmh evaluation palpitations state...,"[17yo, male, no, pmh, evaluation, palpitations..."